*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#07100b;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

font-family:Georgia, serif;
}

#book-container{
perspective:3000px;
}

#book{

width:380px;
height:540px;

position:relative;

transform-style:preserve-3d;
}

#cover-front{

position:absolute;

width:100%;
height:100%;

background:
linear-gradient(
135deg,
#21452f,
#163321,
#0d2217
);

border-radius:10px;

transform-origin:left center;

transition:1.6s;

box-shadow:
0 20px 60px rgba(0,0,0,.6);

border:2px solid #9f8250;

overflow:hidden;

display:flex;
justify-content:center;
align-items:center;
}

.open #cover-front{
transform:rotateY(-175deg);
}

.gold-frame{

position:absolute;

top:18px;
left:18px;
right:18px;
bottom:18px;

border:1px solid #c7a96c;
}

.corner{

position:absolute;

color:#c7a96c;

font-size:30px;
}

.tl{
top:18px;
left:25px;
}

.tr{
top:18px;
right:25px;
}

.bl{
bottom:18px;
left:25px;
}

.br{
bottom:18px;
right:25px;
}

.cover-content{
text-align:center;
}

.cover-content h1{

font-size:64px;

font-family:cursive;

color:#c7a96c;

font-weight:normal;
}

.heart{

color:#c7a96c;

font-size:20px;

margin:15px 0;
}

.cover-content p{

color:#c7a96c;

letter-spacing:4px;

text-transform:uppercase;

font-size:14px;
}

#inside-page{

width:100%;
height:100%;

background:#efe4d0;

border-radius:10px;

display:flex;
justify-content:center;
align-items:center;
}

.password-card{

text-align:center;

padding:30px;
}

.password-card h1{

font-size:52px;

font-family:cursive;

font-weight:normal;

color:#6a5130;

margin-bottom:20px;
}

.password-card p{

color:#6a5130;

margin-bottom:25px;
}

input{

width:260px;

padding:14px;

border-radius:8px;

border:1px solid #d0b78c;

background:#fffdf8;

margin-bottom:15px;
}

button{

padding:14px 40px;

background:#163321;

color:white;

border:none;

border-radius:30px;

cursor:pointer;

font-size:16px;
}

#errorMsg{

margin-top:15px;

color:#b33;
}

.sparkle{

position:absolute;

width:8px;
height:8px;

background:#d8b46b;

border-radius:50%;

pointer-events:none;

animation:sparkle 1s forwards;
}

@keyframes sparkle{

0%{
opacity:1;
transform:scale(1);
}

100%{
opacity:0;
transform:
translateY(-40px)
scale(0);
}
}

   

    
